{{ define "main" }}

    {{ partial "hero-banner" 
        (dict 
            "Type" "home" 
            "Heading" "The Business of Creativity Course"
            "ButtonText" "Learn More"
            "ButtonURL" "/modules/"
        ) 
    }}

    {{ partial "text-block-open" 
    (dict 
        "LargeHeader" "Unlock the enormous impact that <strong>creativity</strong> can have on your business, brand and everyday life."
    )
    }}

        <h3>Sir John Hegarty (creative founder at Saatchi & Saatchi & BBH) will lead an 8-week course to equip you with tangible tools to help you win through the application of creativity.</h3>
        <a href="/modules/">Learn More</a>

    {{ partial "text-block-close"}}

    {{ partial "features-list" (dict "FeatureCards" .Params.FeatureCards "Title" "Course Format") }}


    {{ partial "text-block-open" 
    (dict 
        "LargeHeader" "70% of companies that engage with <strong>creativity</strong> had above-average total returns to shareholders."
    )
    }}

    <h3><strong>McKinsey & Company</strong></h3>

    {{ partial "text-block-close" }}

    {{ partial "video" (dict "YouTubeURL" "https://youtu.be/ChFELzrJr4Q") }}

    {{ partial "statistics" (dict "Statistics" .Params.Statistics) }}

    {{ partial "logotypes" (dict "Title" "Global Companies Enrolled" "Logos" .Params.Logos) }}

    {{ partial "quotes-slider" (dict "Title" "Testimonials" "Quotes" .Params.Quotes) }}

{{ end }}