.icon-header {
    &__title h2 {
        @include font-size(font-lg);

        position: relative;
        font-weight: $medium;
        margin-bottom: 20px;

        @include mobile {
            @include column-span(2, 10);
        }

        @include tablet {
            @include column-span(3, 11);
            @include font-size(font-lg-1);
        }

        @include widescreen {
            @include column-span(4, 10);
            @include font-size(font-lg-2);
        }

        .sf-text-block--highlights & {
            margin-top: 30px;
        }

        &::before {
            content: '';
            display: inline-block;
            position: relative;
            top: 0.5em;
            width: 2em;
            height: 2em;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='111.031' height='132.766' viewBox='0 0 111.031 132.766'%3E%3Cg id='Group_1600' data-name='Group 1600' transform='translate(20028.603 13730.833)'%3E%3Cpath id='Path_875' data-name='Path 875' d='M113.925,74.359,77.4,157.835l43.139-49.609,21.181,17.1,36.528-83.474L135.106,91.458Z' transform='translate(-20106 -13755.903)' fill='%23ff0023'/%3E%3Cpath id='Path_876' data-name='Path 876' d='M155.332,42.851l17.5-5.046,3.272,17.9,3.566-28.942Z' transform='translate(-20097.238 -13757.6)' fill='%23ff0023'/%3E%3C/g%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: 100% 100%;

            @include mobile {
                display: block;
                position: absolute;
                left: -2.5em;
                top: -0.5em;
            }
        }
    }

    &__sub-title {
        @include font-size(font-base);

        position: relative;
        font-weight: $medium;

        @include mobile {
            @include column-span(2, 10);
        }

        @include tablet {
            @include column-span(3, 11);
        }

        @include widescreen {
            @include column-span(4, 10);
            @include font-size(font-lg);
        }
    }
}