.video {
    position: relative;

    .module-video & {
        @include tablet {
            @include column-span(2, 12);
        }
    }

    &.section .section__container {
        padding: 0;
    }

    &__embed {
        @include fullwidth;

        height: 0;
        padding-bottom: 66.75%;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        cursor: pointer;

        @include widescreen {
            @include fullwidth-reset;

            padding-bottom: 56.25%;
        }

        iframe {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 120px;
            height: 120px;
            margin-top: -60px;
            margin-left: -60px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg id='Group_2467' data-name='Group 2467' transform='translate(-583 -3080)'%3E%3Ccircle id='Ellipse_63' data-name='Ellipse 63' cx='100' cy='100' r='100' transform='translate(583 3080)' fill='%23fff'/%3E%3Cpath id='Path_1346' data-name='Path 1346' d='M136.364,100,81.819,139.364V60.636Z' transform='translate(583 3080.364)' fill='%23ff0023'/%3E%3C/g%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
            transition: opacity 100ms linear;
            border-radius: 50%;
            box-shadow: 4px 4px 5px rgb(0, 0, 0 / 20%);

            @include desktop {
                // background-size: 200px;
                width: 200px;
                height: 200px;
                margin-top: -100px;
                margin-left: -100px;
            }
        }

        &:hover::after {
            opacity: 0.85;
        }

        &.lazy-video--loaded::after {
            display: none;
        }
    }

    &__media {
        position: relative;
        width: 100%;

        video {
            object-fit: fill;
            width: 100%;
        }
    }

    &__text {
        margin: 30px 0;
        max-width: 740px;
        width: 100%;

        .sf-video-block--text-on-left &,
        .sf-video-block--text-on-right & {
            @include desktop {
                max-width: none;
                width: 50%;
            }
        }

        .sf-video-block--text-on-left & {
            @include desktop {
                padding-right: 30px;
            }
        }

        .sf-video-block--text-on-right & {
            @include desktop {
                padding-left: 30px;
            }
        }
    }

    &__placeholder-gif {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 1;
        transition: opacity $transition-speed;

        .sf-video-block__embed:hover & {
            opacity: 0.8;
        }
    }
}
