.sf-button,
a.sf-button {
    @include fsz($font-sm);

    display: inline-flex;
    padding: 0.75em 1.15em;
    border: none;
    border-radius: 2px;
    align-items: center;
    font-family: $effra;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition-property: color, background-color, box-shadow;
    transition-duration: $transition-speed;
    transition-timing-function: linear;
    appearance: none;

    // Add margin to free text areas
    .sf-article-content__text &,
    .sf-text-block & {
        margin-bottom: 1rem;
    }

    &--primary {
        color: $white;
        background-color: $primary-color;
        box-shadow: inset 0 0 0 0 $black;

        &:hover {
            color: $white;
            box-shadow: inset 0 -3.5em 0 0 $black;
        }
    }

    &--black {
        color: $white;
        background-color: $black;

        &:hover {
            color: $white;
            box-shadow: inset 0 -3.5em 0 0 $primary-color;
        }
    }

    &--grey {
        color: $black;
        background-color: $grey-500;

        &:hover {
            color: $white;
            background-color: $grey-900;
        }
    }

    &--dark-grey {
        color: $white;
        background-color: $grey-900;

        &:hover {
            background-color: $primary-color;
        }
    }

    &--accent {
        color: $white;
        background-color: $accent-color;

        &:hover {
            background-color: $grey-900;
        }
    }

    &--outline {
        color: $black;

        &:hover {
            background-color: $grey-100;
        }

        border: 1px solid $grey-500;
    }

    &--x-small {
        @include fsz($font-sm-2);

        text-transform: uppercase;
        padding: 15px 10px;
    }

    &--small {
        @include fsz($font-sm-2);

        text-transform: uppercase;
        padding: 15px 30px;
    }

    &--medium {
        @include fsz($font-sm);

        padding: 20px 40px;
    }

    &--medium-large {
        @include fsz($font-sm);

        text-transform: uppercase;
        padding: 30px 40px;
    }

    &--large {
        @include fsz($font-base);

        text-transform: uppercase;
        font-weight: $bold;
        padding: 20px 40px;
    }

    &--x-large {
        @include fsz($font-lg-2);
    }

    &__icon {
        height: 1.2em;
        margin-left: 0.5em;
        width: 1.2em;

        svg {
            height: 100%;
            width: 100%;
        }
    }
}
