<div class="footer-cta">
  <div class="footer-cta__course">
    <div class="footer-cta__course-container">
      <div class="footer-cta__course-text">
        <h2 class="footer-cta__course-title">The Business of Creativity</h2>
        <p>
          Discounted pricing options are available for group orders.
          <a href="#">Contact us</a> to find out more.
        </p>
      </div>

      <div class="footer-cta__course-action">
        <h3 class="footer-cta__course-price">Cost £1,495 + VAT</h3>
        <a
          class="footer-cta__course-button button button--primary"
          href="/pricing/"
        >
          Book Now
        </a>
      </div>

      <div class="footer-cta__course-icon">
        {{ partial "svg" "icon_black" }}
      </div>
    </div>
  </div>

  <div class="footer-cta__subscribe">
    <div class="footer-cta__subscribe-container">
      <h2 class="footer-cta__subscribe-title">
        Spring Cohort Launches 27<sup>th</sup> March 2023
      </h2>
      <h4 class="footer-cta__subscribe-sub-title">
        Sign up to make sure you don’t miss out
      </h4>
      <div class="page-footer__subscribe-form">
        <form class="form form--signup" netlify>
          <div class="form__block">
            <label>Email address*</label>
            <input type="email" name="email" placeholder="Enter Your Email" />
          </div>
          <label class="form__consent">
            <input type="checkbox" name="consent" />
            Yes please, save my details so you can send me educational content
            that is relevant and helpful.
          </label>
          <button class="form__button" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="footer__dark">
    <div class="footer__container footer__container--row">
      <nav class="footer-menu">
        <ul class="footer-menu__list">
          <li class="footer-menu__item footer-menu__item--depth-0">
            <a
              class="footer-menu__link footer-menu__link--depth-0"
              href="https://www.businessofcreativity.com/privacy-policy/"
              >Privacy</a
            >
          </li>
        </ul>
      </nav>
      <div class="footer__text">
        <p class="copyrights">© Copyright The Garage Academy 2023</p>
      </div>
    </div>
  </div>
  <div class="footer__light">
    <div class="footer__container footer__container--credit">
      <p class="icit-credit">
        Designed by
        <a
          class="icit-credit__link icit-credit__link--icit"
          href="https://interconnectit.com/"
          target="_blank"
          aria-label="Interconnect"
          rel="noopener noreferrer"
          >Interconnect</a
        >. Powered by
        <a
          class="icit-credit__link icit-credit__link--sf"
          href="https://standfirst.com/"
          target="_blank"
          aria-label="Standfirst"
          rel="noopener noreferrer"
          >Standfirst</a
        >.
      </p>
    </div>
  </div>
</footer>
