<header class="header">
  <div class="header__container">
    <div class="logo">
      <a class="logo__link" href="/" rel="home"> {{ partial "svg" "logo" }} </a>
    </div>

    <nav class="primary-menu">
      <ul class="primary-menu__list">
        <li class="primary-menu__item">
          <a class="primary-menu__link" href="/meet-john">Meet John</a>
        </li>
        <li class="primary-menu__item primary-menu__item--login">
            <a class="primary-menu__link" href="#">Log In</a>
          </li>
          <li class="primary-menu__item primary-menu__item--book">
            <a class="primary-menu__link" href="#">Book</a>
          </li>
      </ul>
    </nav>

    <button class="primary-menu-toggle">
      <span class="primary-menu-toggle__line"></span>
      <span class="primary-menu-toggle__line"></span>
      <span class="primary-menu-toggle__line"></span>
    </button>

  </div>
</header>
