{{ define "main" }}

{{ partial "hero-banner" 
(dict 
    "Type" "john-hegarty" 
    "Heading" "Meet John"
    "Image" "../assets/images/hero-homepage.png"
) 
}}

<div class="content">
     <div class="content__container">
          {{.Content}}
     </div>
</div>

{{ partial "text-block" (dict 
     "LargeHeader" "John Hegarty has been central to the global advertising scene for over six decades."          
)}}

{{ partial "text-block" (dict
     "LargeHeader" "John Hegarty has been central to the global advertising scene for over six decades."          
)}}


{{ end }}